{% extends 'base.html' %}

{% block content %}
<h2>{{ occupant.nickname }} <a href="{% url 'edit_occupant' page_name=occupant.page_name %}">(Изменить)</a></h2>
<p>Название страницы: {{ occupant.page_name }}</p>
<p>Имя: {{ occupant.name }}</p>
<p>Возраст: {{ occupant.age }}</p>
<p>Дата рождения: {{ occupant.date_of_birth }}</p>
{% if occupant.avatar %}
    <img class="avatar" src="{{ occupant.avatar.url }}">
{% endif %}
<br>
<br>
{% if occupant_hobbies.count %}
<h3>Хобби:</h3>
{% endif %}
{% for hobby in occupant_hobbies %}
<p>{{ hobby.description }}</p>
<br>
<h4 ><a href="{% url 'interactions' page_name=occupant.page_name %}">Привет, Канпибарик!</a></h4>
{% endfor %}
{% endblock %}